@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.menu {
    @include margin-bottom(1);
    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
        &-item {
            padding: 0;
            margin: 0;
            &-link {
                font-size: $typewrite-font-size;
                color: $color-gray-text;
                border: 0;
                &:hover,
                &:focus {
                    opacity: 0.7;
                }
                &--active {
                    opacity: 0.7;
                }
            }
        }
    }
}
